*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aliceblue;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
}
.left{
    height: 90%;
    width: 300px;
    margin-left: 30px;
    background-color: rgb(253, 177, 177);
}
.right{
    width: 300px;
    height: 90%;
    margin-right: 30px;
    background-color: rgb(143, 143, 236);
}
.main{
    background-color: black;
    width: 100%;
    height: max-content;
}
.intro{
    background-color: rgb(57, 57, 77);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .intro-title{
        margin-top: 35vh;
        width: 600px;
        height: 300px;
        background-color: aliceblue;
    }
    .intro-text{
        width: 700px;
        height: 50px;
        background-color: aliceblue;
        margin: 20px 0;
    }
    .order-button{
        width: 200px;
        height: 50px;
        margin-top: 170px;
        background-color: antiquewhite;
    }
    .scroll{
        margin-top: 40px;
        width: 70px;
        height: 10px;
        background-color: rosybrown;
    }
.content{
    width: auto;
    height: 50vh;
    background-color: blue;
    display: flex;
    overflow: hidden;
}
    .con{
        width: 50%;
        height: 100%;
        background-color: white;
    }
    .img{
        width: 50%;
        height: 100%;
        background-color: rgba(121, 119, 119, 0.7);
    }
.survey{
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(90, 72, 45);
}
    .formbox{
        border-radius: 20px;
        background-color: white;
        height: 80%;
        min-width: 80%;
        max-width: 500px;
        box-shadow: 0 0 20px rgb(37, 37, 40);
    }
footer{
    height: 10vh;
    width: 100%;
    background-color: aliceblue;
}