<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initialScale=1.0">
        <title>Main Page</title>
        <link rel="stylesheet" href="./mainpage.css">
    </head>
    <body>
        <header>
            <div class="left">
                <div class="logo">

                </div>
                <div class="header-title">
                    
                </div>
            </div>
            <div class="right">
                <ul style="list-style: none;">
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </header>
        <div class="main">
            <div class="intro">
                <div class="intro-title"></div>
                <div class="intro-text"></div>
                <div class="order-button"></div>
                <div class="scroll"></div>
            </div>
            <div class="content">
                <div class="img"></div>
                <div class="right"></div>
            </div>
            <div class="content">
                <div class="left"></div>
                <div class="img"></div>
            </div>
            <div class="survey">
                <div class="formbox"></div>
            </div>
        </div>
        <footer></footer>
    </body>
</html>