<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>Manager Menu Page</title>
        <link rel="stylesheet" href="./manager-order.css">
    </head>
    <body>
        <div class="manager-menu-container">
            <div class="top">
                <div class="mm-title"></div>
                <div class="mm-exit"></div>
            </div>
            <div class="bot">
                <div class="left">
                    <div class="menu-items-title"></div>
                    <div class="menu-items-box"></div>
                </div>
            </div>
        </div>
    </body>
</html>