<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>Manager Page</title>
        <link rel="stylesheet" href="./manager.css">
        <script src="script.js" defer></script>
    </head>
    <body>
        <header>
            <div class="left">
                <div class="header-title"></div>
            </div>
            <div class="right">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </header>
        <div class="intro">
            <div class="title"></div>
        </div>
        <div class="menu-control">
            <div class="menu-title"></div>
            <div class="buttons">
                <div class="button"></div>
                <div class="button"></div>
            </div>
        </div>
        <div class="order-control">
            <div class="left">
                <div class="order-title"></div>
                <div class="order-button"></div>
                <div class="order-button"></div>
            </div>
            <div class="order-list right"></div>
        </div>
    </body>
</html>