<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Manager Menu Page</title>
    <link rel="stylesheet" href="./manager-menu.css">
    <script src="script.js"></script>
</head>
<body>
    <button id="clearMenuItems" onclick="clearMenuLocal()">Clear Menu Items</button>
    <div class="manager-menu-container">
        <div class="top">
            <div class="mm-title">Manager Menu</div>
            <div class="mm-exit">Exit</div>
        </div>
        <div class="bot">
            <div class="left">
                <div class="menu-items-title">Menu Items</div>
                <div class="menu-items-box" id="menu-items-box"></div>
            </div>
            <div class="right">
                <div class="add-new-title">Add New Item</div>
                <div class="add-new-card">
                    <input type="text" id="item-name" placeholder="Item Name">
                    <textarea id="item-description" placeholder="Item Description"></textarea>
                    <input type="number" id="item-price" placeholder="Price">
                    <input type="text" id="item-image" placeholder="Image URL">
                    <button id="add-item-button">ADD</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        //tracks manager adding
        managerAdd();
        // Display the current items when the page loads
        displayMenuItems();
    </script>
</body>
</html>