* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

button {
    font-family: 'langdon';
    font-weight: 100;
    text-transform: uppercase;
    padding: 10px;
    background-color: #df3b30;
    color: white;
    letter-spacing: 4px;
    border: none;
    border-radius: 10px;
    &:hover{cursor: pointer;}
}
    
.main-container {
display: flex;
width: 100%;
height: 100vh;
}

.categories {
background-color: antiquewhite;
width: 20%;
height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
z-index: 10;
}

.innerbox {
width: 100%;
min-height: 100vh;
max-height: max-content;
overflow-y: scroll;
background-color: rgb(166, 136, 100);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
}

.innerbox img {
width: 100%;
height: 100%;
object-fit: cover;
opacity: 0.5;
position: relative; /* Allows positioning text on top of the image */
transition: all 0.3s ease;
&:hover{
    opacity: 0.3;
}
}

.innerbox a {
background-color: black;
transition: all 0.3s ease;
width: 100%;
height: 17vh;
display: block; /* Ensures each anchor tag takes up the full width of its container */
position: relative; /* Ensures text is positioned relative to the image */
}


.innerbox a:hover {
scale: 1.1;
z-index: 200;
.category-label{
    scale: 1.2;
}
}

.innerbox .image-container{
    transition: all 0.3s ease;
    width: 100%;
    height: 17vh;
    display: block; /* Ensures each anchor tag takes up the full width of its container */
}
.innerbox .category-label {
position: absolute;
top: 50%; /* Centers vertically */
left: 50%; /* Centers horizontally */
transform: translate(-50%, -50%); /* Adjusts positioning to be exactly centered */
color: white;
font-size: 2em;
font-weight: bold;
text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Optional: adds shadow for better visibility */
transition: scale 0.3s ease;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.innerbox::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.innerbox {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}

.main {
width: 80%;
height: 100vh;
}

.cart {
    background-color: #1f1f1f;
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-shadow: 0 0 20px black;
}

    .cart .top {
        width: 90%;
        height: 20%;
        background-color: #df3b30;
        display: flex;
        align-items: center;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }

        .top h1 {
        font-family: 'langdon';
        color: white;
        font-size: 4em;
        font-weight: 200;
        margin-left: 5%;
        }

        .mm-exit {
        width: 3vw;
        height: 3vw;
        background-color: rgb(0, 0, 0);
        position: sticky;
        left: 90%;
        }

        #exit {
        width: 100%;
        height: 100%;
        color: white;
        }

.cart .items {
width: 90%;
height: 60%;
display: flex;
font-size: 1.8em;
padding: 10px;
gap: 30px;
flex-wrap: nowrap;
background-color: #df3b30;
overflow-x: scroll;
color: white;
font-family: 'langdon';
text-transform: lowercase;
}

.cart .items .cart-item {
text-transform: unset;
color: black;
border-radius: 20px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
height: 90%;
min-width: 300px;
font-size: 0.6em;
overflow: hidden;
font-family: 'Langdon';
text-transform: uppercase;
font-weight: 200;
background-color: aliceblue;
}

.cart-item h2 {
font-weight: 200;
font-size: 30px;
text-transform: lowercase;
}

.cart-item img {
width: 100%;
height: 30%;
object-fit: cover;
background-color: rgb(104, 77, 77);
}

.cart-item label {
width: 50%;
display: flex;
justify-content: space-around;
}

.cart-item input {
height: 100%;
font-family: 'langdon';
text-transform: uppercase;
font-size: 1em;
width: 30%;
}

.cart-item button{

    font-size: 60%;
margin-bottom: 2%;
}
.menu {
height: 60vh;
width: 100%;
overflow: scroll;
background-color: rgb(255, 240, 205);
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
padding: 50px 0;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
.menu::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.menu {
-ms-overflow-style: none;  /* IE and Edge */
background-color: aliceblue;
scrollbar-width: none;  /* Firefox */
}

.menu .category-title {
width: 80%;
display: block;
height: max-content;
padding: 20px;
background-color: #df3b30;
margin-bottom: 50px;
font-family: 'langdon';
text-transform: lowercase;
font-weight: 100;
font-size: 5em;
color: white;
}

.menu-items {
width: 80%;
height: max-content;
background-color: #1f1f1f;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-content: flex-start;
padding: 40px 1.5% 0 1.5%;
}

.menu-items .menu-item-card {
margin-bottom: 40px;
width: 30%;
height: 500px;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
background-color: rgb(254, 227, 212);
border-radius: 50px;
position:relative;
}

.menu-item-card .menu-item-image {
width: 100%;
height: 60%;
}

.menu-item-card .menu-item-image img {
width: 100%;
height: 100%;
object-fit: cover;
}

.menu-item-card .menu-item-info {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
width: 100%;
height: 27%;
font-family: 'Edu AU VIC WA NT Pre';
}
@keyframes scrollDownUp{
    0% {
        top: 0%;
    }
    90%{
        top: -170%;
    }
    100%{
        top: 0%;
    }
}
.menu-item-info .title-scroll {
    display: block;
    background-color: rgba(31, 21, 1, 0.7);
    min-height: 70px;
    max-height: 70px;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Ubuntu';
    overflow-y:scroll;
    position: relative;
        h3{
        position: absolute;
        font-weight: 300;
        font-size: 50px;
        width: 100%;
        text-align: center;
        }
        .anim{
        animation: scrollDownUp 10s ease-in-out 2s infinite;
        }
}

    /* Hide scrollbar for Chrome, Safari, and Opera */
    .menu-item-info .title-scroll::-webkit-scrollbar {
    display: none;
    }
    
    /* Hide scrollbar for IE, Edge, and Firefox */
    .menu-item-info .title-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
@keyframes scrollDownUp1{
    0% {
        top: 0%;
    }
    90%{
        top: -60%;
    }
    100%{
        top: 0%;
    }
}
.menu-item-info .description-scroll {
text-align: center;
min-height: 60px;
max-height: 60px;
overflow-x: scroll;
width: 90%;
position: relative;
font-size: 16px;
.anim{
    position: absolute;
    animation: scrollDownUp1 7s ease-in-out 0s infinite;
}
.anim1{
    position: absolute;
    animation: scrollDownUp 7s ease-in-out 0s infinite;
}
}
 /* Hide scrollbar for Chrome, Safari, and Opera */
 .menu-item-info .description-scroll::-webkit-scrollbar {
    display: none;
    }
    
    /* Hide scrollbar for IE, Edge, and Firefox */
    .menu-item-info .description-scroll {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    }
    
.menu-item-info strong {
font-family: 'Ubuntu';
font-size: 1.2em;
}

.menu-item-card .add-to-cart {
height: 10%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
bottom: 0;
}

.menu-item-card .add-to-cart-button {
width: 50%;
height: 50%;
border-radius: 20px;
font-size: 1.2em;
}

.pay-button {
width: 10vw;
height: 50px;
border-radius: 5px;
position: absolute;
bottom: 10vh;
right: 0;
margin-right: 5vw;
cursor: pointer;
}

.pay-button button {
width: 10vw;
height: 50px;
display: block;
border: 3px solid #1f1f1f;
color: #1f1f1f;
background-color: aliceblue;
}

.item-popup {
display: flex;
position: fixed;
justify-content: center;
gap: 50px;
align-items: center;
top: 0;
transform: translate(5vw, 5vh);
width: 90vw;
height: 90vh;
background-color: white;
border-radius: 50px;
box-shadow: 0 0 20px rgb(167, 167, 167);
}
    .item-popup .left{
        background-color: antiquewhite;
        width: 35%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
        .item-popup .left .img{
            background-color: rgb(84, 44, 44);
            border-radius: 500px;
            width: 40%;
            height: calc(90vw*.35*.4);
        }
        .item-popup .left .info{
            width: 80%;
            height: 40%;
            background-color: rgb(174, 158, 133);
        }
    .item-popup .right{
        background-color: antiquewhite;
        width: 50%;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 3%;
    }
        .item-popup .right .title{
            width: 40%;
            height: 100px;
            background-color: rgb(174, 158, 133);
        }
        .item-popup .right .details{
            width: 80%;
            height: 30%;
            background-color: rgb(174, 158, 133);
        }
        .item-popup .right .button-box{
            display: flex;
            justify-content: space-around;
            align-items: center;
            height: 40%;
            width: 95%;
            background-color: rgb(174, 158, 133);
        }
        .item-popup .right .button-box .button{
            width: 300px;
            height: 70px;
            background-color: rgb(87, 75, 61);
        }