<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="./menu.css">
    <script src="script.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main-container">
        <div class="categories">
            <div class="innerbox">
                <a href="#" onclick="filterItemsByCategory('Entree')">
                    <img src="https://s1.1zoom.me/b4251/376/Fast_food_Hamburger_Pizza_Hot_dog_Meat_products_513904_3840x2160.jpg" alt="Entree" title="Entree" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Appetizer')">
                    <img src="https://th.bing.com/th/id/R.572951c2710eb65764da2e47be66b928?rik=Pw%2bcf2yi78IxwA&pid=ImgRaw&r=0" alt="Appetizer" title="Appetizer" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Dessert')">
                    <img src="https://th.bing.com/th/id/OIP.AhrwnV_057QrWfA4hIT9lwHaEK?rs=1&pid=ImgDetMain" alt="Dessert" title="Dessert" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Drinks')">
                    <img src="https://th.bing.com/th/id/OIP.qZoHnX56C8r6SaDELxb18gHaEi?rs=1&pid=ImgDetMain" alt="Drinks" title="Drinks" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Vegan')">
                    <img src="https://th.bing.com/th/id/OIP.qZoHnX56C8r6SaDELxb18gHaEi?rs=1&pid=ImgDetMain" alt="Vegan" title="Vegan" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Pizza')">
                    <img src="https://th.bing.com/th/id/OIP.SXolNgpBfMaJ2h6imElYxAHaEo?pid=ImgDet&rs=1" alt="Pizza" title="Pizza" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Mains')">
                    <img src="https://th.bing.com/th/id/R.b3f0891f14d67e3032c05f8ddc022667?rik=hxdkBbfi9d%2bROw&pid=ImgRaw&r=0" alt="Mains" title="Mains" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Handhelds')">
                    <img src="https://th.bing.com/th/id/OIP.jN8h1YxiXAS5uQp8Yy7f3gHaEK?pid=ImgDet&rs=1" alt="Handhelds" title="Handhelds" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Wings')">
                    <img src="https://th.bing.com/th/id/R.a6cf49e00529bce29bbba590637546df?rik=bBvClRIdR6uAkg&pid=ImgRaw&r=0" alt="Wings" title="Wings" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Oysters')">
                    <img src="https://th.bing.com/th/id/OIP.mrxYJ14PZZZhcPxpeONzPgHaE8?pid=ImgDet&rs=1" alt="Oysters" title="Oysters" height="100px" width="100%">
                </a>
                <a href="#" onclick="filterItemsByCategory('Kids')">
                    <img src="https://th.bing.com/th/id/R.9b0d55e289f3a08fd4d1bcf106a47b48?rik=zLg7Ut8FUsdpRA&pid=ImgRaw&r=0" alt="Kids" title="Kids" height="100px" width="100%">
                </a>
            </div>
            
        </div>
        <div class="main">
            <div class="cart">
                <div class="top">
                    Your Cart
                    <div class="mm-exit"><a href="mainpage.html"><ion-icon name="close-outline" id="exit"></ion-icon></a>
                    </div>
            </div>
                
                <div class="items">
                    
                </div>
            </div>
            <div class="menu">
                <div class="category-title">Menu</div>
                <div class="menu-items" id="menu-items">
                    
                </div>
            </div>
            <div class="pay-button">
                <button onclick="location.href='payment.html'">Proceed to Payment</button>
            </div>       
        </div>
    </div>
    
    <div class="item-popup" style="display: none;">
        <div class="left">
            <div class="img"></div>
            <div class="info"></div>
        </div>
        <div class="right">
            <div class="title"></div>
            <div class="details"></div>
            <div class="button-box">
                <div class="button">Add to Cart</div>
                <div class="button">Cancel</div>
            </div>
        </div>
    </div>
    <script>
        // Display the menu items when the page loads
        displayMenuItems();
        function setCart(){
            if(!localStorage.getItem('loggedIn')){
                localStorage.setItem('loggedin', false)
                return
            }
            loggedIn = localStorage.getItem('loggedIn');
            users = JSON.parse(localStorage.getItem('users'));
            console.log(users[loggedIn])
            if(users[loggedIn].cart != undefined){
                alert('we have a cart : ' + users[loggedIn].cart)
                localStorage.setItem('cart', users[loggedIn].cart);
            }
        }
        setCart();
        updateCartDisplay();
        alert(localStorage.getItem('loggedIn'));
    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>