<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <title>Menu</title>
        <link rel="stylesheet" href="./menu.css">
    </head>
    <body>
        <div class="main-container">
            <div class="categories">
                <div class="innerbox"></div>
            </div>
            <div class="main">
                <div class="cart">
                    <div class="top"></div>
                    <div class="items"></div>
                </div>
                <div class="menu">
                    <div class="category-title"></div>
                    <div class="menu-items"></div>
                </div>
                <div class="pay-button"></div>
            </div>
        </div>
        <div class="item-popup" style="display: none;">
            <div class="left">
                <div class="img"></div>
                <div class="info"></div>
            </div>
            <div class="right">
                <div class="title"></div>
                <div class="details"></div>
                <div class="button-box">
                    <div class="button"></div>
                    <div class="button"></div>
                </div>
            </div>
        </div>
    </body>
</html>