<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Payment</title>
        <link rel="stylesheet" href="./payment.css">
    </head>
    <body>
        <div class="payment-container">
            <div class="cart">
                <div class="cart-title"></div>
                <div class="cart-items"></div>
            </div>
            <div class="totalscreen">
                <div class="total">
                    <div class="left medium">Subtotal</div>
                    <div class="result medium"></div>
                    <div class="left small">taxes</div>
                    <div class="result small"></div>
                    <div class="left large">total</div>
                    <div class="result large"></div>
                    <div class="bottom">
                        <p>Add a <b>Tip?</b></p>
                    </div>
                </div>
                <div class="payment">
                    <div class="payment-title"></div>
                    <div class="payment-options">
                        <!--Radio inputs here-->
                    </div>
                    <div class="payment-button"></div>
                </div>
            </div>
        </div>
    </body>
</html>